services:
  web:
    build: .
    ports:
      - "3000:80"
    environment:
      - RAILS_ENV=production
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
      - RAILS_LOG_TO_STDOUT=1
    volumes:
      - db_data:/rails/storage
      - rails_storage:/rails/storage
    restart: unless-stopped

volumes:
  db_data:
  rails_storage:
