<% content_for :title, "New Broker Connection" %>

<div>
  <h1 class="text-2xl font-bold text-slate-800 mb-6">New <%= @connection.broker_type_name %> Connection</h1>

  <div class="flex gap-6 items-start">
    <div class="flex-1">
      <%= render "form", connection: @connection %>
    </div>

    <% if @connection.ibkr? %>
      <div class="w-80 flex-shrink-0">
        <%= render "instructions" %>
      </div>
    <% end %>
  </div>
</div>
