# Solid Cable uses SQLite for ActionCable, allowing broadcasts from background jobs
# to reach the browser (required since jobs run in a separate process from the web server)
development:
  adapter: solid_cable
  connects_to:
    database:
      writing: cable
  polling_interval: 0.1.seconds
  message_retention: 1.hour

test:
  adapter: test

production:
  adapter: solid_cable
  connects_to:
    database:
      writing: cable
  polling_interval: 0.1.seconds
  message_retention: 1.day
