<div id="<%= dom_id currency %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Code:</strong>
    <span class="<%= ui_text_muted_class %>"><%= currency.code %></span>
  </div>
</div>
